<%- model_class = JobType -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_type_path,
            :class => 'btn btn-primary btn-in-heading' %> 
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @job_types.each do |job_type| %>
      <tr>
        <td><%= link_to job_type.id, job_type_path(job_type) %></td>
        <td><%= job_type.name %></td>
        <td><%=l job_type.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_type_path(job_type), :class => 'btn btn-mini' %>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      job_type_path(job_type),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
