<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :client_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :client_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deadline_client, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :deadline_client, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deadline_intern, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :deadline_intern, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :job_type_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :job_status_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :client_paid, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :client_paid, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rating, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :rating_text, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
