<%- model_class = Job -%>
<div class="page-header">
    <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_path,
            :class => 'btn btn-primary btn-in-heading' %> 
  </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:clients) %></th>
      <th><%= model_class.human_attribute_name(:service_partners) %></th>
      <th><%= model_class.human_attribute_name(:deadline_client) %></th>
      <th><%= model_class.human_attribute_name(:deadline_intern) %></th>
      <th><%= model_class.human_attribute_name(:job_type) %></th>
      <th><%= model_class.human_attribute_name(:job_status) %></th>
      <th><%= model_class.human_attribute_name(:client_paid) %></th>
      <th><%= model_class.human_attribute_name(:rating_client) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.name, job_path(job) %></td>

        <% if job.client.nil? %>
          <td><%= '' %></td>
        <% else %>
          <td><%= link_to job.client.full_name, client_path(job.client) %></td>
        <% end %>

        <td>
          <% job.service_partners.each do |sp| %>
            <%= link_to sp.full_name, service_partner_path(sp) %><br/>
          <%end%>
        </td>

        <% if job.deadline_client.nil? %>
          <td><%= '' %></td>
        <% else %>
          <td><%= job.deadline_client.to_date.strftime("%d %b") %></td>
        <% end %>

        <% if job.deadline_intern.nil? %>
          <td><%= '' %></td>
        <% else %>
          <td><%= job.deadline_intern.to_date.strftime("%d %b")  %></td>
        <% end %>

        <% if job.job_type.nil? %>
          <td><%= '' %></td>
        <% else %>
          <td><%= job.job_type.name %></td>
        <% end %>

        <% if job.job_status.nil? %>
          <td><%= '' %></td>
        <% else %>
          <td><%= job.job_status.name %></td>
        <% end %>

        <td><%= job.client_paid %></td>
        <td><%= job.rating_client %></td>
        <td><%=l job.created_at, :format => :short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_path(job), :class => 'btn btn-mini' %>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      job_path(job),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
