<%= simple_form_for @transcription_information, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :duration %>
  <%= f.input :category_id %>
  <%= f.input :starting_point %>
  <%= f.input :ending_point %>
  <%= f.input :is_detailed_transcription %>
  <%= f.input :audio_quality %>
  <%= f.input :speaker_accent %>
  <%= f.input :number_speaker %>
  <%= f.input :is_content_focused %>
  <%= f.input :with_pause_interjection %>
  <%= f.input :with_emotion_interjection %>
  <%= f.input :with_pause %>
  <%= f.input :with_interruption %>
  <%= f.input :with_time_stamp %>
  <%= f.input :field_id %>
  <%= f.input :background_information %>
  <%= f.input :recurring_denominations %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transcription_informations_path, :class => 'btn' %>
  </div>
<% end %>
