<%= simple_form_for @service_partner, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :surname %>
  <%= f.input :email %>
  <%= f.input :email_confirmation %>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_of_birth, :class => 'datepicker' %>
      <i class="icon-calendar" style="margin: -2px 0 0 -26px; pointer-events: none; position: relative;"></i>
    </div>
  </div>
  <%= f.input :phone_number, :hint => 'No spaces or "-"' %>
  <%= f.input :country_id, :collection => Country.all.collect { |p| [ p.name , p.id ] } %>
  <%= f.input :city %>
  <%= f.input :is_urban %>
  <%= f.input :education_id, :collection => Education.all.collect { |p| [ p.name , p.id ] } %>
  <%= f.input :education_background %>
  <%= f.input :work_experience %>
  <%= f.input :internet_access %>
  <%= f.input :internet_use %>

  <%= f.button :submit %>
<% end %>

