<%- model_class = ServicePartner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:surname) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:birth_year) %></th>
      <th><%= model_class.human_attribute_name(:country_name) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:internet_access) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @service_partners.each do |service_partner| %>
      <tr>
        <td><%= link_to service_partner.name, service_partner_path(service_partner) %></td>
        <td><%= service_partner.surname %></td>
        <td><%= service_partner.email %></td>
        <td><%= service_partner.birth_year %></td>
        <td><%= service_partner.country.name %></td>
        <td><%= service_partner.city %></td>
        <td><%= service_partner.internet_access %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_service_partner_path(service_partner), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      service_partner_path(service_partner),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_partner_path,
            :class => 'btn btn-primary' %>
