<%- model_class = ServicePartner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl> <%# dl-horizontal did not work fine with empty fields #%>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @service_partner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:surname) %>:</strong></dt>
  <dd><%= @service_partner.surname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @service_partner.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_of_birth) %>:</strong></dt>
  <dd><%= @service_partner.date_of_birth %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @service_partner.phone_number %></dd>


  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <% if (@service_partner.country == nil) %>
    <dd><%= '' %></dd>
  <% else %>
    <dd><%= @service_partner.country.name %></dd>
  <% end %>


  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @service_partner.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_urban) %>:</strong></dt>
  <dd><%= @service_partner.is_urban %></dd>


  <dt><strong><%= model_class.human_attribute_name(:education) %>:</strong></dt>
  <% if (@service_partner.education == nil) %>
    <dd><%= '' %></dd>
  <% else %>
    <dd><%= @service_partner.education.name %></dd>
  <% end %>

  <dt><strong><%= model_class.human_attribute_name(:education_background) %>:</strong></dt>
  <dd><%= @service_partner.education_background %></dd>

  <dt><strong><%= model_class.human_attribute_name(:work_experience) %>:</strong></dt>
  <dd><%= @service_partner.work_experience %></dd>

  <dt><strong><%= model_class.human_attribute_name(:internet_access) %>:</strong></dt>
  <dd><%= @service_partner.internet_access %></dd>

  <dt><strong><%= model_class.human_attribute_name(:internet_use) %>:</strong></dt>
  <dd><%= @service_partner.internet_use %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              service_partner_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_service_partner_path(@service_partner), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              service_partner_path(@service_partner),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
