<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service_partner.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @service_partner.surname %>
</p>

<p>
  <b>Email:</b>
  <%= @service_partner.email %>
</p>

<p>
  <b>Birth year:</b>
  <%= @service_partner.birth_year %>
</p>

<p>
  <b>Phone number:</b>
  <%= @service_partner.phone_number %>
</p>

<p>
  <b>Country:</b>
  <%= @service_partner.country %>
</p>

<p>
  <b>City:</b>
  <%= @service_partner.city %>
</p>

<p>
  <b>Is urban:</b>
  <%= @service_partner.is_urban %>
</p>

<p>
  <b>Education:</b>
  <%= @service_partner.education %>
</p>

<p>
  <b>Education background:</b>
  <%= @service_partner.education_background %>
</p>

<p>
  <b>Work experience:</b>
  <%= @service_partner.work_experience %>
</p>

<p>
  <b>Internet access:</b>
  <%= @service_partner.internet_access %>
</p>

<p>
  <b>Internet use:</b>
  <%= @service_partner.internet_use %>
</p>


<%= link_to 'Edit', edit_service_partner_path(@service_partner) %> |
<%= link_to 'Back', service_partners_path %>
