<%= form_for(@fair_wage) do |f| %>
  <% if @fair_wage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fair_wage.errors.count, "error") %> prohibited this fair_wage from being saved:</h2>

      <ul>
      <% @fair_wage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
